<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShopStop</title>
    <link rel="shortcut icon" href="/content/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/content/styles/site.min.css">
</head>
<body>
<header>
    <nav class="nav">
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/product/add">Add Product</a></li>
            <li><a href="/category/add">Add Category</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1 class="head-title">Welcome to StopShop!</h1>
    <form id="search-form">
        <input type="text" name="query" placeholder="Search product here...">
        <button type="submit" value="Search">Search</button>
    </form>
    <div class="cards">
        {content}
    </div>
</main>
<footer>
    <p>&copy; ShopStop</p>
</footer>

</body>
</html>